<div class="container">
	<div ng-show="loggedInUser">
		<button class="btn btn-default customButtom pull-right" ng-click="showDeleteModal()">
			<span class="glyphicon glyphicon-remove"></span> Delete
		</button>
		<button class="btn btn-default customButtom pull-right" ng-click="showEditModal()">
			<span class="glyphicon glyphicon-edit"></span> Edit
		</button>
		<br><br><br>
	</div>
	
	<div class="blogPost">
		<div class="blogPostBody">
			<p ng-bind-html="post.body"></p>
		</div>
		</div>
		<div class="commentSection">
			<div class="commentSectionHeading">
				<h2>Comments:</h2>
				<button class="btn btn-default customButtom pull-right" ng-click="addComment()"><span class="glyphicon glyphicon-plus"></span> Add a comment
				</button>
			</div>
				

		<div class="blogPostComment" ng-repeat="comment in post.comments track by $index">
			<p class="postAndCommentInfoLine">Posted by '{{comment.userName}}' on {{comment.date | date : 'EEE d.M.yyyy'}} at {{comment.date | date : 'H:mm'}}</p>
			<p>{{comment.body}}</p>
			<div ng-show="loggedInUser" class="btn-group commentEditAndDeleteButtons" role="group" aria-label="...">
				<a class="btn btn-default" ng-click="showCommentModal(comment)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
				<a class="btn btn-default" ng-click="showDeleteCommentModal(comment)"><span class="glyphicon glyphicon-remove"></span> Delete</a>
			</div>
		</div>
	</div>
</div>		